@using ITSM.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ITSM.Models.Ticket>

@{
    ViewData["Title"] = "All Tickets";
}
<h2 class="text-center mb-4">@ViewData["Title"]</h2>

<div class="table-responsive shadow-sm rounded">
    <table class="table table-hover table-bordered align-middle text-center">
        <thead class="table-dark text-white">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Category</th>
            <th>Author Name</th>
            <th>Assigned To</th>
            <th>Created At</th>
            <th>Closed At</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody class="table-light">
        @foreach (var ticket in Model)
        {
            <tr>
                <td><strong>@ticket.Id</strong></td>
                <td class="text-truncate" style="max-width: 200px;" title="@ticket.Title">@ticket.Title</td>
                
                <!-- Статус -->
                <td>
                    <span class="badge 
                        @(ticket.Status == TicketStatus.Open ? "bg-primary text-white" :
                          ticket.Status == TicketStatus.Progress ? "bg-info text-white" :
                          ticket.Status == TicketStatus.Resolved ? "bg-success text-white" :
                          ticket.Status == TicketStatus.Reopened ? "bg-warning text-dark" :
                          ticket.Status == TicketStatus.Canceled ? "bg-danger text-white" :
                          ticket.Status == TicketStatus.Done ? "bg-secondary text-white" : "bg-dark")">
                        @ticket.Status
                    </span>
                </td>

                <!-- Приоритет -->
                <td>
                    <span class="badge 
                        @(ticket.Priority == TicketPriority.Low ? "bg-secondary" :
                          ticket.Priority == TicketPriority.Medium ? "bg-primary text-white" :
                          ticket.Priority == TicketPriority.High ? "bg-warning text-white" :
                          ticket.Priority == TicketPriority.Critical ? "bg-danger text-white" :"bg-dark")">
                        @ticket.Priority
                    </span>
                </td>

                <td>@ticket.Category?.Name</td>
                <td>@ticket.Author?.UserName</td>
                <td>@ticket.AssignedUser</td>
                <td>@ticket.CreatedAt.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@(ticket.ClosedAt?.ToString("yyyy-MM-dd HH:mm") ?? "-")</td>

               
                <td>
                    @if (ticket.Status == TicketStatus.Progress)
                    {
                        <a asp-controller="AdminTicket" asp-action="Details" asp-route-id="@ticket.Id"
                           class="btn btn-outline-primary btn-sm">Details</a>
                    }
                    else if (ticket.Status == TicketStatus.Open || ticket.Status == TicketStatus.Reopened)
                    {
                        <form asp-controller="AdminTicket" asp-action="AcceptTicketProcessing" method="post" class="d-inline">
                            <input type="hidden" name="id" value="@ticket.Id"/>
                            <button type="submit" class="btn btn-outline-success btn-sm">Accept</button>
                        </form>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
