@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ITSM.ViewModels.AssignTicketViewModel
<div class="mt-4">
    <a asp-controller="TicketAssignment" asp-action="ReviewAllTickets" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left"></i>
    </a>
</div>
@{
    ViewData["Title"] = "Assign Ticket";
}

<h1 class="text-center my-4">@ViewData["Title"]</h1>

<form method="post" asp-controller="TicketAssignment" asp-action="AssignTicket" class="form">
    <input type="hidden" name="ticketId" value="@Model.Ticket.Id" />

    <div class="mb-3">
        <label for="userId" class="form-label">Select a user for assignment:</label>
        <select id="userId" name="userId" class="form-select">
            <option value="">Leave empty</option>
            @foreach (var user in Model.Users)
            {
                <option value="@user.Value">@user.Text</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label for="priority" class="form-label">Select priority:</label>
        <select id="priority" name="priority" class="form-select">
            <option value="">Leave empty</option>
            @foreach (var priority in Model.Priorities)
            {
                <option value="@priority.Value">@priority.Text</option>
            }
        </select>
    </div>

    <div class="d-flex gap-3 justify-content-between">
        <button type="submit" class="btn btn-outline-success">Confirm Changes</button>
       
    </div>
</form>
