@using ITSM.Enums
@model ITSM.ViewModels.Manage.TicketDetailsViewModel
@if (TempData["TicketClosed"] != null)
{
    <div class="alert alert-success" role="alert">
        Ticket successfully closed.
    </div>
}

<div class="mt-4">
    <a asp-controller="TicketAssignment" asp-action="ReviewAllTickets" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left"></i>
    </a>
</div>

<h1 class="text-center my-4"></h1>

<div class="table-responsive shadow-sm rounded mb-4">
    <table class="table table-bordered table-hover align-middle">
        <tbody>
            <tr>
                <th>Ticket Number:</th>
                <td>@Model.Ticket.Id</td>
            </tr>
            <tr>
                <th>Title:</th>
                <td>@Model.Ticket.Title</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>@Model.Ticket.Description</td>
            </tr>
            <tr>
                <th>Created At:</th>
                <td>@Model.Ticket.CreatedAt</td>
            </tr>
            <tr>
                <th>Author:</th>
                <td>@Model.Ticket.Author?.UserName</td>
            </tr>
            <tr>
                <th>Assigned To:</th>
                <td>@Model.Ticket.AssignedUser</td>
            </tr>
        <tr>
            <th>Fix Description:</th>
            <td>@Model.Ticket.FixDescription</td>
        </tr>
        <tr>
            <th>CancelReason:</th>
            <td>@Model.Ticket.CancelReason</td>
        </tr>
            <tr>
                <th>Status:</th>
                <td>@Model.Ticket.Status</td>
            </tr>
        </tbody>
    </table>
</div>

<h3 class="mb-3">Notes</h3>
<div class="table-responsive shadow-sm rounded mb-4">
    <table class="table table-striped table-hover">
        <thead class="table-light">
            <tr>
                <th>Date</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var note in Model.TicketHistory)
            {
                <tr>
                    <td>@note.CreatedAt.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@note.AdminComment</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.Ticket.Status == Status.Resolved)
{
    <div class="d-flex gap-3">
        <form asp-controller="TicketAssignment" asp-action="CloseTicket" method="post">
            <input type="hidden" name="id" value="@Model.Ticket.Id"/>
            <button type="submit" class="btn btn-outline-success">Close</button>
        </form>
    </div>
}
else if (Model.Ticket.Status == Status.Done || Model.Ticket.Status == Status.Canceled)
{
    <div class="d-flex gap-3">
        <form asp-controller="TicketAssignment" asp-action="ReOpenTicket" method="post">
            <input type="hidden" name="id" value="@Model.Ticket.Id"/>
            <button type="submit" class="btn btn-outline-success">Reopen</button>
        </form>
    </div>
}
