@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ITSM.Models.Ticket>

@{
    ViewData["Title"] = "All Tickets";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
    <tr>
        <th>Номер</th>
        <th>Title</th>
        <th>Status</th>
        <th>Category</th>
        <th>Author Name</th>
        <th>Assigned To</th>
        <th>Created At</th>
        <th>Closed At To</th>
        <th>Действия</th>


    </tr>
    </thead>
    <tbody>
    @foreach (var ticket in Model)
    {
        <tr>
            <td>@ticket.Id</td>
            <td>@ticket.Title</td>

            <td>@ticket.Status</td>
            <td>@ticket.Category?.Name</td>
            <td>@ticket.Author?.UserName</td>
            <td>@ticket.AssignedUser</td>
            <td>@ticket.CreatedAt</td>
            <td>@ticket.ClosedAt</td>

            <td>
                <a asp-controller="TicketAssignment" asp-action="AssignTicket" asp-route-id="@ticket.Id" class="btn btn-primary">Назначить</a>
            </td>
        </tr>
    }
    </tbody>
</table>